body{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: large;
  width: 80vw;
  height: 60vh;
  margin: auto;
  background-color: bisque;
}

#description {
  font-style: italic;
  font-weight: bold;
  text-decoration: underline solid black 5px;
}

.intro-info {
  text-align: center;
}